.link {
  text-decoration: none;
}
.inner-comp {
  width: 84%;
  margin: auto 0 0 auto;
}
.home-comp img {
  height: 452px;
  width: 860px;
  display: flex;
  align-items: end;
  justify-content: center;
  margin-left: 308px;
}
.present{
  background-color: greenyellow !important;
  color: black !important;
  font-weight: 500;
  border: 1px solid green;
}
.absent{
  background-color: tomato !important;
  color: black !important;
  font-weight: 500;
  border: 1px solid red;
}